GOOGLE_API_KEY=""your-key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=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
LANGCHAIN_PROJECT=CareerOps-MVP

export GOOGLE_API_KEY=AIzaSyCUe1Ll6YuQV4D3m8s1GQKT1ZFvPFFEQEQ
